:root {
  font-family: "Brockmann", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --radius: 12px;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.marquee,
.community-img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.marquee::before,
.marquee::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 7rem;
  /* Adjust the width of the shadow as needed */
  z-index: 100;
}

.marquee::before {
  left: 0;
  background: linear-gradient(to right, #02122B, #051630, #0b192ea7, transparent);
}

.marquee::after {
  right: 0;
  background: linear-gradient(to left, #02122B, #051630, #0b192ea7, transparent);
}

@media screen and (max-width:768px) {

  .marquee::before,
  .marquee::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3rem;
    /* Adjust the width of the shadow as needed */
    z-index: 100;
  }
}


.community-img::before,
.community-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2rem;
  /* Adjust the width of the shadow as needed */
  z-index: 100;
}

.community-img::before {
  left: 0;
  background: linear-gradient(to right, #061B3A, transparent);
}

.community-img::after {
  right: 0;
  background: linear-gradient(to left, #061B3A, transparent);
}

.text-footer-bg {
  background-color: white;
  background: url('https://retinaaiims.org/eye.gif') no-repeat center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}


@keyframes bounce {
  0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.bounce {
  animation: bounce 1s infinite;
  animation-delay: 0.5s;
  transition: all 0.3s ease-in-out;
}