/* Define the Bold font */
@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/Brockmann-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Define the Bold Italic font */
@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/Brockmann-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Define the Medium font */
@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/Brockmann-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Define the Medium Italic font */
@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/Brockmann-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Define the Regular font */
@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/Brockmann-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Define the Regular Italic font */
@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/Brockmann-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Define the Bold font */
@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/Brockmann-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/* Define the Bold Italic font */
@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/Brockmann-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}